{% extends 'music/base.html' %}

{% block body %}

 <div class="row">

 {% for album in all_albums %}
     {% if album.pk < 7 %}
        <div class="col-xs-3 col-md-3 ">

                <a href="#">
                    <img src="{{ album.album_logo.url }}" height="300px" width="300px"  />
                </a>
             <div class="caption">
                 <h2>{{ album.album_title }}</h2>
                 <h4>{{ album.artist }}</h4>
             </div>

        </div>

     {% endif %}
    {% endfor %}

  </div>

{% endblock %}